<nav>
    <ul>
        <li>
            <a href="/hamburguesas/mostrarHamburguesas">Mostrar hamburguesas</a>
        </li>
        <li>
            <a href="/hamburguesas/agregarHamburguesa">Agregar hamburguesas</a>
        </li>
    </ul>
</nav>