<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <nav class="nav-header">
            <ul class="ul-header">
                <li class="li-header">
                    <a class="links-header" href="/api/productos">PRODUCTOS</a>
                </li>
                <% if (user) { %>
                <li class="li-header">
                    <a class="links-header" href="/api/carrito">CARRITO</a>
                </li>
                    <li class="li-header">
                        <a class="links-header" href="/api/user/desloguear">CERRAR SESION</a>
                    </li> 
                <% }else { %>
                    <li class="li-header">
                        <a class="links-header" href="/api/user">INICIAR SESION</a>
                    </li>
                    <li class="li-header">
                        <a class="links-header" href="/api/user/registrar">REGISTRARSE</a>
                    </li>
                <% } %>
            </ul>
        </nav>
    </header>
</body>
</html>